@using KristaLO.Models
@model Meals

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Price</th>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <th>Meal</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Dietary Restrictions</th>
        <td>@Model.DietaryRestrictions</td>
    </tr>

</table>


























@*@model List<KristaLO.Models.Meals>

    <h1>What you're cooking!</h1>

    @if (Model.Count == 0)
    {
        <p>No meals</p>
    }
    else
    {
        <div>
            <ul>
                @foreach (Meals meal in Model)
                {
                    <li>
                        <a asp-controller="Meals" asp-action="info" asp-route-id="@meal.Id">@meal.Name</a>
                    </li>
                }
            </ul>
        </div>

    }*@





<!--<h1>This will display only one meal, also will only show the one meal that you add</h1>

<br />
<br />
<br />




<h1>What are you cooking!</h1>

<table class="table">
    <tr>
        <th>Price</th>
        <td>Model.Price</td>
    </tr>
    <tr>
        <th>Meal</th>
        <td>Model.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>Model.Description</td>

    </tr>
    <tr>
        <th>Dietary Restriction</th>
        <td>Chosen Restrictions</td>
    </tr>


</table>-->
